body {
    text-align: center;
    background-color: black;
    color: white;
}

p {
    margin: 0em;
}

.two {
    display:block;
    margin-top: 1em;
}

.one {
    display: inline-block;
}

form {
    display: inline-block;
    border-style: solid;
    border-color: white;
    border-radius: 0.2em;
    width: 50em;
    margin-top: 5em;
}
span {
    color: red;
}

input[type=submit] {
    margin-top: 1em;
    margin-bottom: 1em;
}